<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="blog-wrap">
                <div class="container pd-0">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="blog-detail card-box overflow-hidden mb-30">
                                <div class="blog-img">
                                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6b104acdfa9d1c814a841a33515134638258bd78e41765df4808b8a250819fae&amp;source=constructor"
                                            width="100%" height="450" frameborder="0"></iframe>
<!--                                    <img src="{{url_for('static', filename='/vendors/images/img2.jpg')}}" alt="">-->
                                </div>
                                <div class="blog-caption">
                                    <h4 class="mb-10">
                                        Контактная информация
                                    </h4>
                                    <p>
                                        ЧУТЬ ЧУТЬ КАКОГО ТО ТЕКСТА
                                    </p>
                                    <h5 class="mb-10">Контакты</h5>
                                    <ul>
                                        <li>
                                            <h5 class="mb-10">Телефон : </h5>
                                            +7 (999) 999 99 99
                                        </li>
                                        <li>
                                            <h5 class="mb-10">Почта : </h5>
                                            admin@ya.ru
                                        </li>
                                        <li>
                                            <h5 class="mb-10">Адрес : </h5>
                                            г.Орск, ул. Ленина, д. 1
                                        </li>
                                        <li>
                                            <h5 class="mb-10">Телефон : </h5>
                                            +7 (999) 999 99 99
                                        </li>
                                        <li>
                                            <h5 class="mb-10">Телефон : </h5>
                                            +7 (999) 999 99 99
                                        </li>
                                        <li>
                                            <h5 class="mb-10">Телефон : </h5>
                                            +7 (999) 999 99 99
                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            DeskApp - Bootstrap 4 Admin Template By
            <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
        </div>
    </div>
</div>