<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="gallery-wrap">
                <ul class="row">
                    {% for image in gallery %}
                    <li class="col-lg-4 col-md-6 col-sm-12">
                        <div class="da-card box-shadow">
                            <div class="da-card-photo">
                                <img src="{{ image.path_im }}" alt=""/>
                                <div class="da-overlay">
                                    <div class="da-social">
                                        <ul class="clearfix">
                                            <li>
                                                <a href="{{ image.path_im }}"
                                                   data-fancybox="images"><i class="fa fa-picture-o"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            DeskApp - Bootstrap 4 Admin Template By
            <a href="https://github.com/dropways" target="_blank"
            >Ankit Hingarajiya</a
            >
        </div>
    </div>
</div>