<!DOCTYPE html>
<html>
<head>{% include 'head.html' %}</head>
<body>
<div class="pre-loader">
    <div class="pre-loader-box">
        <div class="loader-logo">
            <img src="vendors/images/deskapp-logo.svg" alt=""/>
        </div>
        <div class="loader-progress" id="progress_div">
            <div class="bar" id="bar1"></div>
        </div>
        <div class="percent" id="percent1">0%</div>
        <div class="loading-text">Загрузка...</div>
    </div>
</div>
{% include 'header.html' %}
{% include 'right-sidebar.html' %}
{% include 'left-side-bar.html' %}
<div class="mobile-menu-overlay"></div>


{% if page == 'index' %}
    {% include 'pages/main.html' %}
{% elif page == 'shopping_card' %}
    {% include 'pages/shopping_card.html' %}
{% elif page == 'products' %}
    {% include 'pages/products.html' %}
{% elif page == 'product_info' %}
    {% include 'pages/product_info.html' %}
{% elif page == 'calendar' %}
    {% include 'pages/calendar.html' %}
{% elif page == 'contacts' %}
    {% include 'pages/contacts.html' %}
{% elif page == 'gallery' %}
    {% include 'pages/gallery.html' %}
{% elif page == 'pricing' %}
    {% include 'pages/pricing.html' %}
{% elif page == 'profile' %}
    {% if current_user.is_authenticated %}
        {% include 'pages/profile.html' %}
    {% else %}
        {% include 'pages/main.html' %}
    {% endif %}
{% else %}
    {% include 'pages/main.html' %}
{% endif %}
{{ msg }}

{% include 'scripts.html' %}
</body>
</html>